body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1  {
  color: #fda168;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2  {
  color: #fda168;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3  {
  font-family: 'Montserrat', sans-serif;
}
p  {
  line-height: 2;
}
a  {
  color: #7c7c7c;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #b8bbbb;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
img {
  width: 210px;
  height: 210px;
  margin: 30px;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 40px;
}
.bottom-cloud  {
  position: absolute;
  left: 25%;
  bottom: 300px;
}
.profile-pic {
  margin-top: 2em;
  border-radius: 50%;
  height: 300px;
}
.top-container {
  background-color: #a2f7fd;
  position: relative;
  padding-top: 100px;
  line-height: 2;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #a2f7fd;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
}
.skill-row  {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.contact-me {
  margin: 100px 0;
}
.computer-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chillies-pic {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-method  {
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
  color: #d2fcff;
  font-size: 0.75rem;
  padding: 20px 0;
}

/* Buttons */
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Merriweather Sans', sans-serif;
  width: 90px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: 1px 1px 10px 0 #000000;
  -moz-box-shadow: 1px 1px 10px 0 #000000;
  box-shadow: 1px 1px 10px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}